<% layout("/layouts/boilerplate.ejs") %>
<style>
    @media screen and (max-width: 768px){
        .edit-container .edit-box{
            width:100%;
        }
        .edit-container .edit-box h3{
            text-align:center;
        }
        .edit-container .edit-box form input{
            font-size: 13px;
        }
    }
    </style>
<div class="row edit-container">
    <div class="col-6 mx-auto edit-box">
        <h3 class="my-4">Edit Your Listing</h3>
        <form action="/listings/<%=listing._id%>?_method=PUT" method="post" novalidate class="needs-validation" >
            <div class="mb-3">
                <label class="form-label" for="Title">Title</label>
                <input name="listing[title]" type="text" value="<%= listing.title%>" class="form-control" id="Title" required/>
                <div class="valid-feedback">Title Looks Good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Description">Description</label>
                <textarea name="listing[description]"  class="form-control" id="Description" required><%= listing.description%></textarea>
                <div class="invalid-feedback">Please enter a short description</div>
            </div>
<!--            <div class="mb-3">-->
<!--                <label class="form-label">Upload new Images</label>-->
<!--                <input name="listing[image]" type="file" class="form-control"  placeholder="Image URL 1"  /><br/>-->
<!--                <input name="listing[image]" type="file" class="form-control"  placeholder="Image URL 2"  /><br/>-->
<!--                <input name="listing[image]" type="file" class="form-control"  placeholder="Image URL 3"  />-->
<!--            </div>-->
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label class="form-label" for="price">price</label>
                    <input name="listing[price]" value="<%= listing.price%>" type="number" class="form-control" required/>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label class="form-label" for="Country">Country</label>
                    <input name="listing[country]" value="<%= listing.country%>" type="text" id="Country" class="form-control" required/>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input name="listing[location]" value="<%= listing.location%>" type="text" id="location" class="form-control" required/>
                <div class="invalid-feedback">Location should be valid</div>
            </div>
            <button type="submit" class="btn edit-btn mx-auto">Edit</button><br><br>
        </form>
    </div>
</div>